{{- if .Values.runcompletionEventTrigger.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kfp-operator.fullname" . }}-run-completion-event-trigger
  namespace: {{ .Values.namespace.name }}
data:
  config.yaml: |
    natsConfig:
      subject: {{ .Values.runcompletionEventTrigger.nats.subject }}
      serverConfig:
        host: eventbus-{{ include "kfp-operator.fullname" . }}-events-stan-svc
        port: {{ .Values.runcompletionEventTrigger.nats.server.port }}
      jetstream:
        enabled: {{ .Values.runcompletionEventTrigger.nats.jetstream.enabled | default false }}
        streamName: {{ .Values.runcompletionEventTrigger.nats.jetstream.streamName | default "run-completion-events" }}
        subject: {{ .Values.runcompletionEventTrigger.nats.jetstream.subject | default .Values.runcompletionEventTrigger.nats.subject }}
        maxAge: {{ .Values.runcompletionEventTrigger.nats.jetstream.maxAge | default "1h" }}
        maxMsgs: {{ .Values.runcompletionEventTrigger.nats.jetstream.maxMsgs | default 1000 }}
        maxBytes: {{ .Values.runcompletionEventTrigger.nats.jetstream.maxBytes | default 10485760 }}
    serverConfig:
      host: 0.0.0.0
      port: {{ .Values.runcompletionEventTrigger.server.port }}
    metricsConfig:
      host: 0.0.0.0
      port: {{ .Values.runcompletionEventTrigger.metrics.port }}
{{- end -}}
