{{- if .Values.runcompletionEventTrigger.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kfp-operator.fullname" . }}-run-completion-event-trigger
  namespace: {{ .Values.namespace.name }}
data:
  config.yaml: |
    natsConfig:
      subject: {{ .Values.runcompletionEventTrigger.nats.subject }}
      serverConfig:
        host: {{ .Values.runcompletionEventTrigger.nats.server.host | default "eventbus-jetstream-test-js-svc" }}
        port: {{ .Values.runcompletionEventTrigger.nats.server.port }}
      jetstream:
        enabled: true
        stream: "run-completion-events"
      auth:
        tls:
          enabled: true
          certFile: "/etc/ssl/certs/{{ .Values.runcompletionEventTrigger.nats.tls.tlsCertPath }}"
          keyFile: "/etc/ssl/private/{{ .Values.runcompletionEventTrigger.nats.tls.privateKeyPath }}"
          caFile: "/etc/ssl/certs/{{ .Values.runcompletionEventTrigger.nats.tls.caCertPath }}"
          insecureSkipVerify: true
    serverConfig:
      host: 0.0.0.0
      port: {{ .Values.runcompletionEventTrigger.server.port }}
    metricsConfig:
      host: 0.0.0.0
      port: {{ .Values.runcompletionEventTrigger.metrics.port }}
{{- end -}}
