{{- if .Values.statusFeedback.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: EventBus
metadata:
  name: default
  namespace: {{ include "kfp-operator.argoNamespace" . }}
spec:
  nats:
    native:
      containerTemplate:
        resources:
          requests:
            cpu: 100m
      metricsContainerTemplate:
        resources:
          requests:
            cpu: 100m
      securityContext:
        runAsUser: 1000
        runAsNonRoot: true
{{- end -}}
