apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "kfp-operator.fullname" . }}-manager-config
  namespace: {{ .Values.namespace.name }}
data:
  controller_manager_config.yaml: |
    apiVersion: config.kubeflow.org/v1alpha3
    kind: KfpControllerConfig
    controller:
      health:
        healthProbeBindAddress: :8081
      metrics:
        bindAddress: :8080
      {{- if .Values.manager.multiversion.enabled }}
      webhook:
        port: 9443
      {{ end -}}
      leaderElection:
        leaderElect: true
        resourceName: kfp-operator-lock
    spec:
      workflowTemplatePrefix: {{ include "kfp-operator.fullname" . }}-
      {{- if .Values.manager.multiversion.enabled }}
      multiversion: true
      {{- end -}}
      {{- .Values.manager.configuration | toYaml | nindent 6 -}}
