# Default values for kfp-operator.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

containerRegistry: ""

namespace:
  create: true
  name: "kfp-operator-system"

manager:
  metadata: {}
  rbac:
    create: true
  serviceAccount:
    create: true
    name: "kfp-operator-controller-manager"
  resources:
    limits:
      cpu: 100m
      memory: 300Mi
    requests:
      cpu: 100m
      memory: 200Mi
  replicas: 1
  configuration: {}
  argo:
    metadataDefaults: {}
  monitoring:
    create: true
    rbacSecured: false
    serviceMonitor:
      create: false
      endpointConfiguration: {}

logging:
  verbosity: # info

eventsourceServer:
  create: true
  metadata: {}
  port: 8080
  mlmdUrl:
  kfpUrl:
  rbac:
    create: true
  serviceAccount:
    create: true
    name: "kfp-operator-run-completion-eventsource-server"
  resources:
    limits:
      cpu: 100m
      memory: 300Mi
    requests:
      cpu: 100m
      memory: 200Mi
