# Go
bin/
*.out
/vendor/

# Python
__pycache__/
.venv/
.pytest_cache
*.egg-info/
build/
# uv
.uv-cache/

# Tests
pids

# Dist
dist/

# VS Code
/.vscode/

# Idea
.idea/

# Hugo/Website
node_modules/
.hugo_build.lock

# OS
.DS_Store
