# Go
bin/
testbin/
*.out
/vendor/

# Python
__pycache__/
.venv/
.pytest_cache

# Tests
pids

# Dist
dist/

# VS Code
/.vscode/
.bloop/
.metals/

# Idea
.idea/

# Hugo/Website
node_modules/
package-lock.json
.hugo_build.lock

# OS
.DS_Store
