resources:
- manager.yaml
- workflows/kfp/pipelines.yaml
- workflows/kfp/experiments.yaml
- workflows/kfp/runconfigurations.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
- name: manager-config
  namespace: kfp-operator-system
  files:
  - controller_manager_config.yaml
