apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: compiled-workflow-steps
  namespace: kfp-operator-system
spec:
  templates:
  - name: compile
    inputs:
      parameters:
      - name: resource-image
      - name: pipeline-framework-image
      artifacts:
      - name: resource-definition
        raw:
          data: |
            {{workflow.parameters.resource-definition}}
        path: /resource-definition.json
    outputs:
      artifacts:
      - name: resource
        path: /tmp/resource.json
    metadata: {}
    activeDeadlineSeconds: 1800
    container:
      command:
      - /shared/compile.sh
      image: "{{inputs.parameters.resource-image}}"
      name: resource
      volumeMounts:
      - mountPath: /shared
        name: shared
      args:
      - --output_file
      - /tmp/resource.json
      - --{{workflow.parameters.resource-kind}}_config
      - /resource-definition.json
    volumes:
    - name: shared
    initContainers:
    - args:
      - /shared
      image: "{{workflow.parameters.pipeline-framework-image}}"
      mirrorVolumeMounts: true
      name: compile
  - name: combine-files
    inputs:
      artifacts:
        - name: resource
          path: /resource.json
        - name: resource-definition
          path: /resource-definition.json
    outputs:
      artifacts:
        - name: combined
          path: /tmp/combined.json
    metadata: {}
    container:
      image: mikefarah/yq:4.45.1
      command: [sh,-c]
      args:
        - |
          RESOURCE_DEFINITION=$(cat {{inputs.artifacts.resource-definition.path}})
          RESOURCE=$(cat {{inputs.artifacts.resource.path}})

          echo "Combining resource definition and resource"
          COMBINED=$(printf '{"pipelineDefinition": %s, "compiledPipeline": %s}' "$RESOURCE_DEFINITION" "$RESOURCE")

          echo "Combined resource file:"
          printf "%s" "$COMBINED" | tee /tmp/combined.json
---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: create-compiled
  namespace: kfp-operator-system
spec:
  ttlStrategy:
    secondsAfterCompletion: 3600
  arguments:
    parameters:
    - name: provider-name
    - name: provider-service-url
    - name: resource-kind
    - name: resource-definition
    - name: pipeline-framework-image
  entrypoint: main
  serviceAccountName: kfp-operator-argo
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    fsGroup: 1000
  templates:
  - name: main
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          parameter: '{{steps.provider.outputs.parameters.provider-output}}'
    steps:
    - - name: select-resource-image
        templateRef:
          name: kfp-operator-common-steps
          template: select-resource-image
    - - name: compile
        templateRef:
          name: kfp-operator-compiled-workflow-steps
          template: compile
        arguments:
          parameters:
          - name: resource-image
            value: '{{steps.select-resource-image.outputs.result}}'
          - name: pipeline-framework-image
            value: '{{workflow.parameters.pipeline-framework-image}}'
    - - name: combine-files
        templateRef:
          name: kfp-operator-compiled-workflow-steps
          template: combine-files
        arguments:
          artifacts:
            - from: '{{steps.compile.outputs.artifacts.resource}}'
              name: resource
            - name: resource-definition
              raw:
                data: |
                  {{workflow.parameters.resource-definition}}
              path: /resource-definition.json
    - - name: provider
        templateRef:
          name: kfp-operator-common-steps
          template: create
        arguments:
          artifacts:
          - from: '{{steps.combine-files.outputs.artifacts.combined}}'
            name: body
          parameters:
          - name: provider-service-url
            value: '{{workflow.parameters.provider-service-url}}'
---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: update-compiled
  namespace: kfp-operator-system
spec:
  ttlStrategy:
    secondsAfterCompletion: 3600
  arguments:
    parameters:
    - name: provider-name
    - name: provider-service-url
    - name: resource-kind
    - name: resource-id
    - name: resource-definition
    - name: pipeline-framework-image
  entrypoint: main
  serviceAccountName: kfp-operator-argo
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    fsGroup: 1000
  templates:
  - name: main
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          parameter: '{{steps.provider.outputs.parameters.provider-output}}'
    steps:
    - - name: select-resource-image
        templateRef:
          name: kfp-operator-common-steps
          template: select-resource-image
    - - name: compile
        templateRef:
          name: kfp-operator-compiled-workflow-steps
          template: compile
        arguments:
          parameters:
          - name: resource-image
            value: '{{steps.select-resource-image.outputs.result}}'
          - name: pipeline-framework-image
            value: '{{workflow.parameters.pipeline-framework-image}}'
    - - name: combine-files
        templateRef:
          name: kfp-operator-compiled-workflow-steps
          template: combine-files
        arguments:
          artifacts:
          - from: '{{steps.compile.outputs.artifacts.resource}}'
            name: resource
          - name: resource-definition
            raw:
              data: |
                {{workflow.parameters.resource-definition}}
            path: /resource-definition.json
    - - name: url-encode-resource-id
        templateRef:
          name: kfp-operator-common-steps
          template: url-encode
        arguments:
          parameters:
          - name: unencoded
            value: '{{workflow.parameters.resource-id}}'
    - - name: provider
        templateRef:
          name: kfp-operator-common-steps
          template: update
        arguments:
          artifacts:
          - from: '{{steps.combine-files.outputs.artifacts.combined}}'
            name: body
          parameters:
          - name: url-encoded-resource-id
            value: '{{steps.url-encode-resource-id.outputs.parameters.url-encoded}}'
          - name: provider-service-url
            value: '{{workflow.parameters.provider-service-url}}'
