---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - argoproj.io
  resources:
  - workflows
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - experiments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - experiments/finalizers
  verbs:
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - experiments/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - pipelines
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - pipelines/finalizers
  verbs:
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - pipelines/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runconfigurations/finalizers
  verbs:
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runconfigurations/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runs/finalizers
  verbs:
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runschedules
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runschedules/finalizers
  verbs:
  - update
- apiGroups:
  - pipelines.kubeflow.org
  resources:
  - runschedules/status
  verbs:
  - get
  - patch
  - update
