apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ include "kfp-operator.fullname" . }}-common-steps
  namespace: {{ include "kfp-operator.argoNamespace" . }}
spec:
  templates:
  - name: select-resource-image
    inputs:
      artifacts:
      - name: resource-definition
        path: /resource-definition.json
        raw:
          data: |
            {{`{{workflow.parameters.resource-definition}}`}}
    script:
      command:
      - ash
      image: mikefarah/yq:4.45.1
      source: yq e -r '.image' /resource-definition.json
    metadata:
      {{- .Values.manager.argo.metadata | toYaml | nindent 6 }}
    activeDeadlineSeconds: {{ .Values.manager.argo.stepTimeoutSeconds.default }}
  - name: url-encode
    inputs:
      parameters:
      - name: unencoded
    outputs:
      parameters:
      - name: url-encoded
        valueFrom:
          path: "/tmp/url-encoded.txt"
    metadata:
      {{- .Values.manager.argo.metadata | toYaml | nindent 6 }}
    container:
      image: apteno/alpine-jq:latest
      command: [sh, -c]
      args:
      - |
        echo -n "{{`{{inputs.parameters.unencoded}}`}}" | jq -sRr @uri > /tmp/url-encoded.txt
  - name: create
    inputs:
      artifacts:
      - name: body
        path: /body.json
      parameters:
      - name: provider-service-url
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          path: /tmp/provider-output.json
    activeDeadlineSeconds: {{ .Values.manager.argo.stepTimeoutSeconds.default }}
    metadata:
      {{- .Values.manager.argo.metadata | toYaml | nindent 6 }}
    container:
      image: curlimages/curl:8.12.1
      command: [sh, -c]
      args:
      - |
        HTTP_RESPONSE=$(
          curl -v -s -o /tmp/provider-output.json -w "%{response_code}" -X POST \
              -H "Content-Type: application/json" \
              --data-binary @{{`{{inputs.artifacts.body.path}}`}} \
              "{{`{{workflow.parameters.provider-service-url}}`}}/resource/{{`{{workflow.parameters.resource-kind}}`}}"
        )

        case $HTTP_RESPONSE in
          501)  exit 1 ;;
          *) exit 0 ;;
        esac
  - name: update
    inputs:
      artifacts:
      - name: body
        path: /body.json
      parameters:
      - name: url-encoded-resource-id
      - name: provider-service-url
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          path: /tmp/provider-output.json
    activeDeadlineSeconds: {{ .Values.manager.argo.stepTimeoutSeconds.default }}
    metadata:
      {{- .Values.manager.argo.metadata | toYaml | nindent 6 }}
    container:
      image: curlimages/curl:8.12.1
      command: [sh, -c]
      args:
      - |
        HTTP_RESPONSE=$(
          curl -v -o /tmp/provider-output.json -w "%{response_code}" -X PUT -H "Content-Type: application/json" \
              --data-binary @{{`{{inputs.artifacts.body.path}}`}} \
              "{{`{{workflow.parameters.provider-service-url}}`}}/resource/{{`{{workflow.parameters.resource-kind}}`}}/{{`{{inputs.parameters.url-encoded-resource-id}}`}}"
        )

        case $HTTP_RESPONSE in
          501)  exit 1 ;;
          *) exit 0 ;;
        esac
    {{- include "kfp-operator.notEmptyYaml" .Values.manager.argo.containerDefaults | nindent 6 }}
  - name: delete
    inputs:
      parameters:
      - name: url-encoded-resource-id
      - name: provider-service-url
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          path: /tmp/provider-output.json
    metadata:
      {{- .Values.manager.argo.metadata | toYaml | nindent 6 }}
    activeDeadlineSeconds: {{ .Values.manager.argo.stepTimeoutSeconds.default }}
    container:
      image: curlimages/curl:8.12.1
      command: [sh, -c]
      args:
      - |
        HTTP_RESPONSE=$(
          curl -v -o /tmp/provider-output.json -w "%{response_code}" -X DELETE \
              "{{`{{inputs.parameters.provider-service-url}}`}}/resource/{{`{{workflow.parameters.resource-kind}}`}}/{{`{{inputs.parameters.url-encoded-resource-id}}`}}"
        )

        case $HTTP_RESPONSE in
          501)  exit 1 ;;
          *) exit 0 ;;
        esac
    {{- include "kfp-operator.notEmptyYaml" .Values.manager.argo.containerDefaults | nindent 6 }}
---
apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: {{ include "kfp-operator.fullname" . }}-delete
  namespace: {{ include "kfp-operator.argoNamespace" . }}
spec:
  ttlStrategy:
    {{- .Values.manager.argo.ttlStrategy | toYaml | nindent 4 }}
  arguments:
    parameters:
    - name: provider-name
    - name: provider-service-url
    - name: resource-kind
    - name: resource-id
  entrypoint: main
  serviceAccountName: {{ .Values.manager.argo.serviceAccount.name }}
  {{- if .Values.manager.argo.securityContext }}
  securityContext:
    {{- .Values.manager.argo.securityContext | toYaml | nindent 4 }}
  {{- end }}
  templates:
  - name: main
    outputs:
      parameters:
      - name: provider-output
        valueFrom:
          parameter: '{{`{{steps.provider.outputs.parameters.provider-output}}`}}'
    steps:
    - - name: url-encode-resource-id
        templateRef:
          name: {{ include "kfp-operator.fullname" . }}-common-steps
          template: url-encode
        arguments:
          parameters:
          - name: unencoded
            value: '{{`{{workflow.parameters.resource-id}}`}}'
    - - name: provider
        templateRef:
          name: {{ include "kfp-operator.fullname" . }}-common-steps
          template: delete
        arguments:
          parameters:
          - name: url-encoded-resource-id
            value: '{{`{{steps.url-encode-resource-id.outputs.parameters.url-encoded}}`}}'
          - name: provider-service-url
            value: '{{`{{workflow.parameters.provider-service-url}}`}}'
