
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: pipelines.pipelines.kubeflow.org
spec:
  group: pipelines.kubeflow.org
  names:
    kind: Pipeline
    listKind: PipelineList
    plural: pipelines
    shortNames:
    - mlp
    singular: pipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.kfpId
      name: KfpId
      type: string
    - jsonPath: .status.synchronizationState
      name: SynchronizationState
      type: string
    - jsonPath: .status.version
      name: Version
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              beamArgs:
                additionalProperties:
                  type: string
                type: object
              env:
                additionalProperties:
                  type: string
                type: object
              image:
                type: string
              tfxComponents:
                type: string
            required:
            - image
            - tfxComponents
            type: object
          status:
            properties:
              kfpId:
                type: string
              observedGeneration:
                format: int64
                type: integer
              synchronizationState:
                type: string
              version:
                type: string
            type: object
        type: object
    served: true
    storage: false
    subresources:
      status: {}
  - additionalPrinterColumns:
    - jsonPath: .status.kfpId
      name: KfpId
      type: string
    - jsonPath: .status.synchronizationState
      name: SynchronizationState
      type: string
    - jsonPath: .status.version
      name: Version
      type: string
    name: v1alpha3
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              beamArgs:
                items:
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              env:
                items:
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              image:
                type: string
              tfxComponents:
                type: string
            required:
            - image
            - tfxComponents
            type: object
          status:
            properties:
              kfpId:
                type: string
              observedGeneration:
                format: int64
                type: integer
              synchronizationState:
                type: string
              version:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
